body{
 margin: 0;
 box-sizing: border-box;
 font-family: sans-serif;
 background-color:dimgrey;
 color: ghostwhite;
 text-align: center;
}
.imgContainer{
    margin: 0 auto;
    margin-top: 1%;
    width: 33%;
}
.imgContainer img{
    width: 90%;
    height: 65vh;
}
button{
    background-color: ghostwhite;
    color: black;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    font-size: larger;
    cursor: pointer;
    transition: all 0.4s;
}
button:hover{
    background-color: black;
    color: white;
    border: 2px solid ghostwhite;
    transition: all 0.4s;
}